.headerWrapper {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    margin: 0 32px;
    border: 1px solid transparent;
    border-top: none;
    border-image: linear-gradient(to right, #272727, #8D8D8D) 1;
}